.headerLayout {
  display: flex;
  height: 15vh;
  width: 100vw;
  flex-direction: column;
  overflow: hidden;
}

.backGroundTop {
  height: 9vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #575959;
}

.hashStyling {
  display: flex;
  justify-content: space-around;
  width: 30vw;
  margin-left: 70vw;
  animation: 5s hashlinkload;
}

.lineBreak {
  height: 1vh;
  width: 100vw;
  background-color: #393A3A;
}

.backGroundBot {
  height: 5vh;
  width: 100vw;
}

.imgOutline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 12vh;
  position: absolute;
  left: 3vw;
  top: 2vh;
  z-index: 1;
  background-color: #FF642F;
  border-radius: 100%;
  border: solid;
  border-color: #393A3A;
  border-width: 1vh;
  animation: 4s headerload;
}

.iconText {
  font-size: 2.25em;
  color: #393A3A;
}

.hashLink {
  text-decoration: none;
  color: #393A3A;
  margin: 1%;
  font-size: 1.25em;
  font-weight: bold;
}

.end {
  margin-right: 5%;
}

@keyframes headerload {
  from {
    left: -10vw;
    top: 2vh;
  }

  to {
    left: 3vw;
    top: 2vh;
    transform: rotate(360deg);
  }
}

@keyframes hashlinkload {
  from {
    width: 10vw;
    margin-left: -10vw;
  }

  to {
    margin-left: 70vw;
    width: 30vw;
  }
}
