.workLayout {
  width: 100vw;
  min-height: 100vh;
  background-color: #393A3A;
  margin: 0;
  padding: 0;
}

.projectDisplayLayout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
