.profileLandingLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.profileLandingCard {
  width: 50vw;
  height: 30vw;
  border-radius: 16px;
  margin: 3%;
  background-color: rgba(87, 89, 89, .95);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 7px 2px rgba(57, 58, 58, .65),
  -5px -5px 7px 2px rgba(57, 58, 58, .65);
  animation: 3s profileload;
}

.name {
  text-align: center;
  font-size: 3.5em;
  margin: 5% 0% 0% 0%;
}

.title {
  font-size: 2em;
  margin: 0% 0% 2% 19%;
}

.kindOfDev {
  font-size: 1.5em;
  margin: 1% 0% 1% 19%;
}

@keyframes profileload {
  from {
    margin-left: 100vw;
  }

  to {
    margin-left: 3%;
  }
}
